@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* colorhunt.co winter
112B3C,
205375,
F66B0E,
EFEFEF */
/*************   Reset CSS    **************/
:root {
  --main-font-family: "Source Sans Pro", sans-serif;
  --main-dark-color: #112b3c;
  --second-dark-color: #205375;
  --main-light-color: #f66b0e;
  --second-light-color: #efefef;
  --header-color: rgba(17, 43, 60, 0.95);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--main-font-family);
  scroll-behavior: smooth;
  background: var(--second-light-color); 
  color: var(--second-dark-color);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

/************ HEADER ************/
#mainheader {
  background-color: var(--header-color);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 5px 20px;
}

#mainheader .content-header {
  display: flex;
  max-width: 1500px;
  max-height: 80px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#mainheader .container-logo a {
  color: var(--second-light-color);
  text-decoration: none;
  display: flex;
  max-height: 80px;
  overflow: hidden;
  transition: .5s;
}

/* #mainheader .container-logo a:hover {
    color: var(--main-light-color);
} */

#mainheader .content-logo {
  width: 80px;
  height: 60px;
  background-color: var(--second-light-color);
  border-radius: 50%;
  align-self: center;
  flex: none;
}

#mainheader .container-logo a h2 {
  display: flex;
  font-size: 1.5rem;
  text-align: start;
  justify-content: start;
  align-items: center;
  padding: 0px 20px;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0; 
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--second-light-color);
    margin: 0 12px;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

#navbar ul li a::after {
    content: '';
    position: absolute;
    display: block;
    margin: 0 12px;
    height: 0.2em;
    width: 0%;
    background-color: var(--main-light-color);
    bottom: -0.4em;
    transition: all ease-in-out .25s;
}

#navbar ul li a:hover::after {
    width: 100%;
}

#navbar ul li:first-child {
    margin-right: auto;
    margin-left: 3em;
}

#navbar ul li a:hover {
    color: var(--main-light-color);
}

/************* HOME *************/
section {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    padding-top: 100px;
}

.container-img-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  margin: auto;
}

/*************** HOME ****************/
#home .container-text-section h2 {
  font-size: 60px;
  font-weight: 600;
}

#home .container-text-section h2 span {
  color: var(--main-light-color);
}

#home .container-text-section h3 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

#home .container-text-section p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

/*************** EVENTO ****************/
#evento .container-text-section h2 {
  font-size: 60px;
  font-weight: 600;
}

#evento .container-text-section h2 span {
  color: var(--main-light-color);
}

#evento .container-text-section h3 span {
  color: var(--main-light-color);
}

#evento .container-text-section h3 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

#evento .container-text-section p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

/*************** CLIMA ****************/
#clima {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgba(17, 43, 60, 0.9), rgba(0, 0, 0, 0.4)),
  url("../assets/ciudad-cultural3.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#clima .container-clima .title-clima {
  color: var(--second-light-color);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

#clima .content-clima{
  border-radius: 2%;
  color: var(--second-light-color);
  background-color: rgba(239, 239, 239,.1);
  padding: 2rem;    
}

#clima #caja1 {
  text-transform: capitalize;
}

#caja2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#caja2 .temperatura-container{
  display: flex;
  flex-direction: column;
}

#caja2 .temperatura-container h2 {
  font-size: 2.5rem;
}

#caja2 .icon-container h2 {
  text-transform: capitalize;
  text-align: center;
}

a {
  text-decoration: none;
}

/*************** NOSOTROS ****************/
.container {
  margin: auto;
  /* max-width: 1300px;  */
  display: flex;
  align-items: center;
}

/*************** NOSOTROS ****************/
.nosotros-description {
  float: left; 
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px; 
}
.nosotros-description .title-one {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.nosotros-description .text-one {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
}

.nosotros-img {
  float: right;
  width: 50%; 
}

/*************** REGISTRO ****************/
.register-description {
  float: left; 
  width: 50%; 
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding: 60px;  
  text-align: center;
}

#register .register-description h2 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

#register .register-description p {
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 500;
}

#datos-contacto {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--second-dark-color);
}

#datos-contacto a {
  display: block;
  font-size: 20px;
  color: var(--second-dark-color);
  transition: all ease .5s;
}

#datos-contacto a:hover {
  color: var(--main-light-color);
}

#datos-contacto .container-logo-wsp {
  height: auto;
  display: flex;
  margin: auto 0;
}

#datos-contacto a img {
  width: 50%;
  height: auto;
}

.register-form {
  float: right; 
  width: 50%;
  padding: 0 60px;  
  display: flex;
  flex-direction: column;
}

.register-form .title-one{
  text-align: center;
  margin-bottom: 0.5rem;
}

form {
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 40%);
}

form .form-group {
  margin-bottom: 2rem;
}
form .form-control {
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1rem;
  line-height: 1.7;
  border: none;
  border: 1px solid var(--main-dark-color);  

}
.btn {
  font-size: 15px; 
  padding: 14px 23px;
  cursor: pointer; 
  font-weight: bold; 
  letter-spacing: 1px;
  border-radius: 4px; 
  margin-top: 10px; 
} 
.btn-light {
  background: var(--second-dark-color); 
  color: #fff;
  border: 1px solid var(--main-dark-color);  
  width: 100%;
  transition: all ease-in-out .3s; 
} 
.btn-light:hover {
  background-color: var(--main-light-color); 
  border: 1px solid var(--main-dark-color); 
}

/*************** FOOTER ****************/
footer {
  display: flex;
  color: var(--second-light-color);
}

#ministerio {
  float: left; 
  width: 50%; 
  padding: 2rem;
  background-color: var(--main-dark-color);
}
.ministerio-info{
  text-align: center;
}
#ministerio-contacto {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#creditos {
  display: block;
  float: right; 
  width: 50%; 
  padding: 2rem;
  background-color: var(--main-dark-color);
}
.programadores {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.programadores ul {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.programadores ul li{
  list-style: none;
}

.programadores ul li a{
  color: var(--second-light-color);
}

.programadores ul li img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: var(--second-light-color);
}
.alinear-vertical {
  display: flex; 
  align-self: center; 
  justify-content: center;
}

footer #datos-contacto {
  color: var(--second-light-color);
}

footer #datos-contacto a {
  display: block;
  font-size: 20px;
  color: var(--second-light-color);
  transition: all ease .5s;
}

#datos-contacto a:hover {
  color: var(--main-light-color);
}

footer #datos-contacto a img {
  width: 40%;
  height: auto;
}